# Handling Missing Values

In [36]:
#importing necessary libraries for eda 
import pandas as pd
import numpy as np

In [37]:
#reading input file as pandas dataframe
#since identifying datata type of columns in the file is memory intensing for pandas setting the parametr low_memory=False
#another option can be defining dtype of the columns beforehand
dataset = pd.read_csv("C:\\Users\\pc\\Documents\\edl\\data cleaning\\NFL Play by Play 2009-2017 (v4).csv",low_memory=False)

In [38]:
#checking sample records
dataset.head(5)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [39]:
# set seed for reproducibility
np.random.seed(0)

In [40]:
#checking number of missing values in first 10 columns of the file
missing_value_in_each_col = dataset.isnull().sum()
missing_value_in_each_col[:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [41]:
#seems there are many columns with a large number of null records. 
#calculating overall percentage of number of nulls in the dataset 
Total_number_of_records= np.product(dataset.shape)
total_number_of_missing_records = missing_value_in_each_col.sum()

In [42]:
# Approx 24% records are null in the given dataset 
percent_missing=(total_number_of_missing_records/Total_number_of_records)*100
percent_missing

24.87214126835169

In [45]:
#there are numerous ways of treating null values in a dataset 
#case 1: columns with very high % of null values can be dropped usually <=25-30% of null values are acceptable for imputation but again it depends on the suecase
#case 2: filling null values in numerical columns using fillna() method
dataset_subset = dataset.loc[:,'EPA':'Season']
dataset_subset.head()
dataset_subset=dataset_subset.fillna(0) #filling null values with 0
dataset_subset.head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [50]:
#case 3: filling null values in numerical columns using fillna() method but with whatever value comes directly after it in the same column
dataset_subset2=dataset.loc[:,'EPA':'Season']
dataset_subset2=dataset_subset2.fillna(method='bfill',axis=0).fillna(0)# in method ffill can be used to d forward fill

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,-1.068169,1.146076,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,-0.032244,0.036899,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,3.318841,-5.031425,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.106663,-0.156239,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
407683,0.000000,-0.208397,0.245803,0.169366,0.830634,0.080409,0.919591,0.169366,0.000000,-0.057752,0.024906,2017
407684,-0.340818,0.056697,-0.397515,0.080409,0.919591,0.050478,0.949522,0.080409,-0.029931,-0.021795,-0.008136,2017
407685,0.139913,-2.317201,2.457114,0.050478,0.949522,0.030881,0.969119,0.050478,-0.019597,-0.030603,0.011006,2017
407686,0.000000,-2.317201,2.457114,0.030881,0.969119,0.000000,1.000000,0.969119,0.030881,-0.030603,0.011006,2017
407687,0.000000,-2.317201,2.457114,0.000000,1.000000,0.000000,1.000000,0.999159,0.000000,-0.030603,0.011006,2017

In [ ]:
#case 4: using ml models to impue the missing values
#used on other dataset

In [58]:
#case 5: in case of categorical value missing values can be replaced with keywords like 'UNKNOWN', "NEITHER" again this depends on the usecase
#case 6: The rows which are having one or more columns values as null can also be dropped.
#case 7: traditional method of replacing null values with mean and median
dataset_subset3=dataset.loc[:,'EPA':'Season']
dataset_subset3["airEPA"] = dataset_subset3["airEPA"].replace(np.NaN,dataset_subset3['airEPA'].mean())
dataset_subset3["yacEPA"] = dataset_subset3['yacEPA'].replace(np.NaN,dataset_subset3['yacEPA'].median())

In [59]:
dataset_subset3

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.524818,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.524818,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.524818,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
407683,0.000000,0.524818,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2017
407684,-0.340818,0.056697,-0.397515,0.080409,0.919591,0.050478,0.949522,0.080409,-0.029931,-0.021795,-0.008136,2017
407685,0.139913,-2.317201,2.457114,0.050478,0.949522,0.030881,0.969119,0.050478,-0.019597,-0.030603,0.011006,2017
407686,0.000000,0.524818,0.000000,0.030881,0.969119,0.000000,1.000000,0.969119,0.030881,NaN,NaN,2017
407687,0.000000,0.524818,0.000000,0.000000,1.000000,0.000000,1.000000,0.999159,0.000000,NaN,NaN,2017

In [62]:
#For the time-series dataset variable, it makes sense to use the interpolation of the variable before 
#and after a timestamp for a missing value.
#Interpolation is a method of deriving a simple function from the given discrete data set such that the function 
#passes through the provided data points.
dataset_subset3['Away_WP_pre']=dataset_subset3['Away_WP_pre'].interpolate(method='linear',limit_direction='forward',axis=0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.524818,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.524818,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.524818,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
407683,0.000000,0.524818,0.000000,NaN,0.875113,NaN,NaN,NaN,0.000000,NaN,NaN,2017
407684,-0.340818,0.056697,-0.397515,0.080409,0.919591,0.050478,0.949522,0.080409,-0.029931,-0.021795,-0.008136,2017
407685,0.139913,-2.317201,2.457114,0.050478,0.949522,0.030881,0.969119,0.050478,-0.019597,-0.030603,0.011006,2017
407686,0.000000,0.524818,0.000000,0.030881,0.969119,0.000000,1.000000,0.969119,0.030881,NaN,NaN,2017
407687,0.000000,0.524818,0.000000,0.000000,1.000000,0.000000,1.000000,0.999159,0.000000,NaN,NaN,2017